@import "../../../../styles/styles.scss";

.mat-form-field {
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
}

.login-panel-wrapper {
  display: flex;
  flex-direction: column;
}

.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15%;
  height: 50px;
  color: white;
  font-size: large;
  font-family: "Nerko One", cursive;
  background-color: black;
  cursor: pointer;
  &:hover {
    color: red;
    opacity: 0.7;
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
  }

  @include mobile {
    border-radius: 40%;
    &:focus {
      color: red;
      opacity: 0.7;
      transform: scale(0.9);
      transition: transform 0.2s ease-in-out;
    }
  }
}
