<div class="account-wrapper">
  <div class="account-wrapper__panel panel">
    <div class="panel__logo">
      <img
        width="400px"
        class="account-wrapper__image"
        src="assets/decoris.PNG"
        alt="image"
      />
    </div>
    <div class="panel__spacer">
      <p class="panel__mind">Jakub Sokolowski</p>
    </div>
  </div>
  <div class="account-wrapper__login login">
    <div class="login__spacer"></div>
    <div>
      <app-login
        [loginControl]="loginControl"
        [passwordControl]="passwordControl"
        (loginEvent)="login()"
      ></app-login>
    </div>
  </div>
</div>
