<div class="note-wrapper">
  <div class="note-wrapper__button-note-add">
    <button mat-icon-button (click)="addNote()">
      <mat-icon>note_add</mat-icon>
    </button>
  </div>
  <div class="note-wrapper__form-text form-text">
    <form [formGroup]="formGroup">
      <mat-form-field appearance="fill" class="form-text__area">
        <mat-label>Textarea</mat-label>
        <textarea matInput formControlName="text"></textarea>
      </mat-form-field>
    </form>
  </div>
  <mat-hint>Notatki</mat-hint>
  <mat-divider></mat-divider>
  <div class="note-wrapper__note-list note-list">
    <ng-container *ngFor="let note of selectedNoteList.values()">
      <div class="note-list__header note-list-header">
        <div class="note-list-header__spacer"></div>
        <p
          class="button-date"
          (click)="updateDateNote(note.text, note.created_note)"
        >
          {{ note.created_note | date: "dd-MM-yyyy" }}
        </p>
      </div>
      <div class="note-list__contnet note-list-contnet">
        <p class="note-list-contnet__text">{{ note.text }}</p>
        <div class="note-list-contnet__buttons-action buttons-action">
          <div class="buttons-action__spacer"></div>
          <button
            mat-icon-button
            class="note-list-contnet__button-update-note"
            (click)="updateNote(note.text)"
          >
            <mat-icon>update</mat-icon>
          </button>
          <button
            mat-icon-button
            class="note-list-contnet__button-remove-note"
            (click)="removeNote(note.text)"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
