.note-wrapper {
  display: flex;
  flex-direction: column;

  &__spacer {
    flex-basis: 100%;
  }
  &__form-text {
    flex-basis: 100%;
  }
  &__button-note-add {
    flex-basis: 100%;
  }
  &__note-list {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}

.form-text {
  display: flex;
  flex-direction: column;

  &__area {
    flex-basis: 100%;
    width: 100%;
  }
}

.note-list {
  display: flex;
  flex-direction: column;
  margin: 10px;

  &__header {
    flex-basis: 100%;
  }

  &__contnet {
    flex-basis: 100%;
  }
}

.note-list-header {
  display: flex;
  padding-top: 10px;
  &__spacer {
    flex-grow: 1;
  }
}
.note-list-contnet {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
  &__text {
    flex-basis: 100%;
  }
  &__buttons-action {
    flex-basis: 100%;
  }
}

.buttons-action {
  display: flex;

  &__spacer {
    flex-grow: 1;
  }
}
