<form [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>Nazwa profilu aluminiowego</mat-label>
    <mat-select
      [formControl]="aluminiumProfileControl"
      (selectionChange)="selectedAluminiumProfile($event.value)"
      multiple
    >
      <mat-option
        *ngFor="let aluminiumProfile of aluminiumProfileList"
        [value]="aluminiumProfile.name"
        >{{ aluminiumProfile.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nazwa okucia aluminiowego</mat-label>
    <mat-select
      [formControl]="aluminiumFittingControl"
      (selectionChange)="selectedAluminiumFitting($event.value)"
      multiple
    >
      <mat-option
        *ngFor="let aluminiumFitting of aluminiumFittingList"
        [value]="aluminiumFitting.name"
        >{{ aluminiumFitting.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nazwa profilu PCV</mat-label>
    <mat-select
      [formControl]="pcvProfileControl"
      (selectionChange)="selectedPcvProfile($event.value)"
      multiple
    >
      <mat-option
        *ngFor="let pcvProfile of pcvProfileList"
        [value]="pcvProfile.name"
        >{{ pcvProfile.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nazwa okucia PCV</mat-label>
    <mat-select
      [formControl]="pcvFittingControl"
      (selectionChange)="selectedPcvFitting($event.value)"
      multiple
    >
      <mat-option
        *ngFor="let pcvFitting of pcvFittingList"
        [value]="pcvFitting.name"
        >{{ pcvFitting.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</form>
