<div class="nav-filters">
  <mat-form-field appearance="fill" class="nav-filters__business-profile">
    <mat-label>Profil dzialalnosci</mat-label>
    <mat-select [formControl]="businessProfiles" multiple>
      <mat-option
        *ngFor="let businessProfile of filterList.get('businessProfiles')"
        [value]="businessProfile"
        >{{ businessProfile.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="nav-filters__name-city">
    <mat-label>Miasto</mat-label>
    <mat-select [formControl]="cities" multiple>
      <mat-option
        *ngFor="let city of filterList.get('cities')"
        [value]="city"
        >{{ city.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="nav-filters__name-voivodeship">
    <mat-label>Wojewodztwo</mat-label>
    <mat-select [formControl]="voivedeships" multiple>
      <mat-option
        *ngFor="let voivedeship of filterList.get('voivodeships')"
        [value]="voivedeship"
        >{{ voivedeship.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <button
    mat-icon-button
    aria-label="Example icon-button with heart icon"
    class="nav-filters__button-refresh"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</div>
