<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Zamknij</button>
</mat-dialog-actions>
<mat-dialog-content class="mat-typography">
  <div *ngIf="showInformation">{{ data.information?.value }}</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="showConfirmButton" mat-button (click)="replace()">
    {{ data.confirmButton?.value }}
  </button>
  <button *ngIf="showRejectButton" mat-button (click)="add()">
    {{ data.rejectButton?.value }}
  </button>
</mat-dialog-actions>
