table {
  width: 100%;
}

.client-content {
  display: flex;
  flex-direction: column;

  &__client-nav {
    height: 50px;
    margin: 20px;
    flex-basis: 100%;
  }
  &__button-client-nav {
    margin: 10px;
  }
  &__client-toolbar {
    margin: 10px;
    flex-basis: 100%;
  }
  &__client-list {
    margin: 10px;
    flex-basis: 100%;
  }
}

.client-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(12, 105, 105);
  box-shadow: 0 0 4px black;
  margin: 20px;

  &__market {
    flex-basis: 100%;
    margin: 10px;
  }
  &__list-buttons {
    flex-basis: 100%;
    margin: 10px;
  }
}
.nav-market {
  display: flex;
  justify-content: center;
}
.nav-list-buttons {
  display: flex;
  justify-content: center;
}

.client-toolbar {
  display: flex;
  flex-direction: column;

  &__button-new-client {
    flex-basis: 100%;
  }
  &__actions {
    flex-basis: 100%;
  }
}

.toolbar__actions {
  display: flex;
  //  justify-content: center;
}

// .btn {
//   width: auto;
//   height: auto;
// }

.client-button {
  background-color: black;
  color: white;
  width: auto;
  height: auto;
}

// .buttons {
//   display: inline;
// }
