<ng-container *ngFor="let settingGroup of settingGroups">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ settingGroup.label }} </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="list-button-wrapper">
        <ng-container *ngFor="let setting of settingGroup.settings">
          <div class="list-button-wrapper__buttons content-button">
            <div class="content-button__spacer"></div>
            <button
              class="button-setting"
              (click)="select([settingGroup.label, setting.label])"
            >
              {{ setting.label }}
            </button>
            <div class="content-button__spacer"></div>
          </div>
        </ng-container>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel> </mat-expansion-panel>
  </mat-accordion>
</ng-container>
