<div class="client-list-wrapper">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nazwa firmy</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="business_profiles">
      <th mat-header-cell *matHeaderCellDef>Profil dzialalnosci</th>
      <td mat-cell *matCellDef="let element">
        <p *ngFor="let business_profile of element.business_profiles">
          {{ business_profile.name }}
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>Misto</th>
      <td mat-cell *matCellDef="let element">{{ element.city.name }}</td>
    </ng-container>

    <ng-container matColumnDef="voivodeship">
      <th mat-header-cell *matHeaderCellDef>Wojewodztwo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.voivodeship.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Panstwo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.country.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nip">
      <th mat-header-cell *matHeaderCellDef>Nip</th>
      <td mat-cell *matCellDef="let element">{{ element.nip }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Adres siedziby</th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <ng-container matColumnDef="employees">
      <th mat-header-cell *matHeaderCellDef>Osoby do kontaktu</th>
      <td mat-cell *matCellDef="let element">
        <button md-raised-button>Kontakt</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef>Notatki</th>
      <td mat-cell *matCellDef="let element">
        <button md-raised-button>Note</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="profiles&fittings">
      <th mat-header-cell *matHeaderCellDef>Profile i okucia</th>
      <td mat-cell *matCellDef="let element">
        <button md-raised-button>Profile i okucia</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Zmien</th>
      <td mat-cell *matCellDef="let element">
        <button md-raised-button (click)="updateCompany(element)">
          update
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef>Usun</th>
      <td mat-cell *matCellDef="let element">
        <button md-raised-button (click)="deleteCompany(element.id)">
          remove
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<!-- <mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> This is the expansion title </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
</mat-accordion> -->
