.base-info-wrapper {
  display: flex;
  flex-direction: column;
  &__header {
    flex-basis: 100%;
  }
  &__content {
    flex-basis: 100%;
    height: 80%;
  }
}

.base-info-header {
  display: flex;
  &__spacer {
    flex-grow: 1;
  }
}

.base-info-content {
  display: flex;
  flex-direction: column;
  &__header {
    flex-basis: 100%;
  }

  &__rest-info {
    flex-basis: 100%;
  }
}

.base-info-content-header {
  display: flex;
  justify-content: end;
  margin: 10px;

  &__spacer {
    flex-grow: 1;
  }
}

.base-info-content-rest-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-size: large;
    margin: 10px;
  }

  &__pair-key {
    display: flex;
    p {
      margin: 5px;
    }
  }
}
