:host {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  background-color: darkcyan;
  height: 80vh;
}

table {
  width: 100%;
}

.client-wrapper {
  &__client-nav {
    height: 50px;
    flex-basis: 100%;
  }
  &__client-toolbar {
    margin: 10px;
    flex-basis: 100%;
  }
  &__nav-filters {
    margin: 10px;
    flex-basis: 100%;
  }
  &__client-list {
    margin: 10px;
    flex-basis: 100%;
  }
}

.toolbar__actions {
  display: flex;
}

.nav-filters {
  display: flex;
}

.paginator {
  position: fixed;
  max-width: 1440px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: black;
}
