<!-- <app-register></app-register> -->

<!-- <div class="account-wrapper" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <div fxFlex="50" class="account-wrapper__panel" fxFlex.xs="15">
    first-section
  </div>
 
</div> -->

<div>
  <div class="account-wrapper" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="50" fxFlex.xs="30" fxFlexFill>
      <div class="account-wrapper__panel" fxLayout="column" fxFlexFill>
        <div fxFlex="30" fxLayoutAlign="center">
          <img
            fxFlex="80%"
            class="account-wrapper__image"
            src="assets/decoris.PNG"
            alt="image"
          />
        </div>
        <div fxFlex="70" fxLayoutAlign="center" fxFlexFill>sdsdsdsdsds</div>
      </div>
    </div>

    <div fxFlex="50" fxFlex.xs="70" fxFlexFill>
      <div class="account-wrapper__login" fxLayout="column" fxFlexFill>
        <div fxFlex="70" fxFlexFill>dscdfdfsdss</div>
        <div fxFlex="30" fxLayoutAlign="center">
          <app-login (loginEvent)="login($event)"></app-login>
        </div>
      </div>
    </div>
  </div>
</div>
