<ngx-spinner></ngx-spinner>

<div class="client-wrapper">
  <app-client-nav-market
    class="client-wrapper__client-nav"
    (selectedMarketEvent)="selectedMarket($event)"
  ></app-client-nav-market>
  <app-client-nav-actions
    (openNewClientModalEvent)="openNewClientModal()"
    class="client-wrapper__client-toolbar"
  ></app-client-nav-actions>

  <div class="client-wrapper__nav-filters nav-filters">
    <app-client-nav-search
      class="nav-filters__search"
      [nameCompanyFilterControl]="nameCompanyFilterControl"
      (selectedNameCompanyFilterEvent)="selectedNameCompanyFilter($event)"
    ></app-client-nav-search>
    <app-client-nav-filters
      class="nav-filters__filters"
      [filterList]="filterList"
      [businessProfilesFilterControl]="businessProfilesFilterControl"
      [citiesFilterControl]="citiesFilterControl"
      [voivedeshipsFilterControl]="voivedeshipsFilterControl"
      (getFilterListEvent)="getFilterList()"
      (resetFilterEvent)="resetFilter()"
      (startFilterEvent)="startFilter()"
      (selectedCitiesFilterEvent)="selectedCitiesFilter($event)"
      (selectedVoivedeshipsFilterEvent)="selectedVoivedeshipsFilter($event)"
    ></app-client-nav-filters>
  </div>

  <app-client-list
    [companyList]="clients"
    (getCompanyListEvent)="getCompanyList()"
    (updateCompanyEvent)="openUpdateClientModal($event)"
    (deleteClientEvent)="deleteClient($event)"
  ></app-client-list>
  <app-client-paginator
    [totalCountCompanyPaginator]="totalCountCompanyPaginator"
    [pageSizePaginator]="pageSizePaginator"
    [pageSizeOptionsPaginator]="pageSizeOptionsPaginator"
    (paginatorEvent)="paginator($event)"
  ></app-client-paginator>
</div>
<app-footer></app-footer>
