<ngx-spinner></ngx-spinner>

<div class="client-wrapper">
  <app-client-nav-market
    class="client-wrapper__client-nav"
    (selectedMarketEvent)="selectedMarket($event)"
  ></app-client-nav-market>
  <app-client-nav-actions
    (openNewClientModalEvent)="openNewClientModal()"
    class="client-wrapper__client-toolbar"
  ></app-client-nav-actions>

  <div class="client-wrapper__nav-filters nav-filters">
    <app-client-nav-search class="nav-filters__search"></app-client-nav-search>
    <app-client-nav-filters
      class="nav-filters__filters"
      [filterList]="filterList"
      (getFilterListEvent)="getFilterList()"
    ></app-client-nav-filters>
  </div>

  <app-client-list
    [companyList]="clients"
    (getCompanyListEvent)="getCompanyList()"
  ></app-client-list>
</div>
<app-footer></app-footer>
