<div class="client-nav">
  <p class="client-nav__market nav-market">Rynki</p>
  <div class="client-nav__list-buttons nav-list-buttons">
    <button
      [ngClass]="currentSelectedMarket === 'polish' ? 'active-button ' : ''"
      class="client-button"
      mat-raised-button
      (click)="selectedMarket('polish')"
    >
      Polski
    </button>
    <button
      [ngClass]="currentSelectedMarket === 'foreign' ? 'active-button ' : ''"
      class="client-button"
      mat-raised-button
      (click)="selectedMarket('foreign')"
    >
      Zagraniczny
    </button>
    <button
      [ngClass]="currentSelectedMarket === 'all' ? 'active-button ' : ''"
      class="client-button"
      mat-raised-button
      (click)="selectedMarket('all')"
    >
      Wszystkie
    </button>
  </div>
</div>
