<div class="content-dialog">
  <div mat-dialog-actions class="content-dialog__header dialog-header">
    <div class="dialog-header__spacer"></div>
    <button mat-icon-button (click)="onCloseClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="content-dialog__title dialog-title">
    <div class="dialog-title__spacer"></div>
    <p mat-dialog-title class="dialog-title__name">{{ data.title }}</p>
    <div class="dialog-title__spacer"></div>
  </div>

  <div mat-dialog-content class="content-dialog__forms dialog-forms">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step
        [stepControl]="baseParametersCompanyFormGroup"
        errorMessage="Nazwa firmy jest obowiazkowa"
      >
        <form [formGroup]="baseParametersCompanyFormGroup">
          <ng-template matStepLabel>Dane podstawowe klienta</ng-template>
          <mat-form-field class="dialog-forms__input">
            <mat-label>Nazwa firmy</mat-label>
            <input
              matInput
              placeholder="Nazwa firmy"
              formControlName="name"
              required
            />
          </mat-form-field>
          <div class="dialog-forms__spacer"></div>
          <mat-form-field class="dialog-forms__input">
            <mat-label>Nip</mat-label>
            <input matInput placeholder="Nip" formControlName="nip" required />
          </mat-form-field>
          <mat-form-field class="dialog-forms__input">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              placeholder="E-mail"
              formControlName="mail"
              required
            />
          </mat-form-field>
          <div class="dialog-forms__spacer"></div>
          <mat-form-field class="dialog-forms__input">
            <mat-label>Strona www</mat-label>
            <input
              matInput
              placeholder="Strona www"
              formControlName="web_page"
              required
            />
          </mat-form-field>

          <mat-form-field class="dialog-forms__input">
            <mat-label>Numer telefonu</mat-label>
            <input
              matInput
              placeholder="Numer telefonu"
              formControlName="phone_number"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="locationCompanyFormGroup">
        <form [formGroup]="locationCompanyFormGroup">
          <ng-template matStepLabel>Lokalizacja klienta</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Panstwo</mat-label>
            <mat-select [formControl]="countryControl">
              <mat-optgroup
                *ngFor="let group of marketGroup"
                [label]="group.name"
              >
                <mat-option
                  *ngFor="let country of group.country"
                  [value]="country"
                >
                  {{ country }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field>
            <mat-label>Miasto</mat-label>
            <input
              matInput
              formControlName="city"
              placeholder="Miasto"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Wojewodztwo</mat-label>
            <input
              matInput
              formControlName="Voivodeship"
              placeholder="Nazwa woje"
              required
            />
          </mat-form-field> -->
          <mat-form-field>
            <mat-label>Adres siedziby</mat-label>
            <input
              matInput
              formControlName="address"
              placeholder="Nazwa ulic numer ulicy"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Kod pocztowy</mat-label>
            <input
              matInput
              formControlName="post_code"
              placeholder="xx-xxx"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>

  <div mat-dialog-actions class="content-dialog__footer dialog-footer">
    <div class="dialog-footer__spacer"></div>
    <button mat-button cdkFocusInitial (click)="onSaveAndCloseClick()">
      Zapisz
    </button>
  </div>
</div>
