<div class="client-list-wrapper">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nazwa firmy</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="info">
      <th mat-header-cell *matHeaderCellDef>Informacje</th>
      <td mat-cell *matCellDef="let element">
        <button
          class="button-table"
          md-raised-button
          (click)="openBaseInfoModal(element)"
        >
          <mat-icon size="64">info</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="business_profiles">
      <th mat-header-cell *matHeaderCellDef>Profil dzialalnosci</th>
      <td mat-cell *matCellDef="let element">
        <p *ngFor="let business_profile of element.business_profiles">
          {{ business_profile.name }}
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>Miasto</th>
      <td mat-cell *matCellDef="let element">{{ element.city.name }}</td>
    </ng-container>

    <ng-container matColumnDef="voivodeship">
      <th mat-header-cell *matHeaderCellDef>Wojewodztwo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.city.voivodeship?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Adres siedziby</th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <ng-container matColumnDef="employees">
      <th mat-header-cell *matHeaderCellDef>Kontakty</th>
      <td mat-cell *matCellDef="let element">
        <button
          class="button-table"
          md-raised-button
          (click)="openEmployeesModal(element.employees)"
        >
          Kontakty
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef>Notatki</th>
      <td mat-cell *matCellDef="let element">
        <button
          class="button-table"
          md-raised-button
          (click)="openNotesModal(element.notes)"
        >
          Notatki
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="profiles&fittings">
      <th mat-header-cell *matHeaderCellDef>Profile i okucia</th>
      <td mat-cell *matCellDef="let element">
        <button
          class="button-table"
          md-raised-button
          (click)="
            openProfilesAndFittingsModal({
              aluminium_profiles: element.aluminium_profiles,
              aluminium_fittings: element.aluminium_fittings,
              pcv_fittings: element.pcv_fittings,
              pcv_profiles: element.pcv_profiles
            })
          "
        >
          Profile i okucia
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Zmien</th>
      <td mat-cell *matCellDef="let element">
        <button
          class="button-table"
          md-raised-button
          (click)="updateCompany(element)"
        >
          <mat-icon>update</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef>Usun</th>
      <td mat-cell *matCellDef="let element">
        <button class="button-table" (click)="deleteCompany(element)">
          <mat-icon>delete icon</mat-icon>
        </button>
      </td>
    </ng-container>
    <td></td>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div class="client-list-mobile-wrapper">
  <ng-container *ngFor="let company of companyList">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="client-panel-title-wrapper">
            <span class="client-panel-title-wrapper__name-company">{{
              company.name
            }}</span>
            <div class="client-panel-title-wrapper__info-company">
              <button
                class="button-action"
                md-raised-button
                (click)="openEmployeesModal(company.employees)"
              >
                Kontakty
              </button>
              <button
                class="button-table"
                md-raised-button
                (click)="openNotesModal(company.notes)"
              >
                Notatki
              </button>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="client-panel-contnet-wrapper">
          <div
            class="client-panel-contnet-wrapper__base-info info-company-contnet"
          >
            <span>Miasto: {{ company.city.name }}</span>
            <span>Wojewodztwo: {{ company.city.voivodeship?.name }}</span>
            <span>Adress: {{ company.address }} </span>
            <span>Nip: {{ company.nip }}</span>
            <span>Panstwo: {{ company.country.name }}</span>
          </div>
          <div
            class="client-panel-contnet-wrapper__profiles-fittings company-profiles"
          >
            <span>Profile biznesowe:</span>
            <p *ngFor="let business_profile of company.business_profiles">
              {{ business_profile.name }}
            </p>
          </div>
          <div
            class="client-panel-contnet-wrapper__actions company-actions-content"
          >
            <button
              class="button-action"
              md-raised-button
              (click)="
                openProfilesAndFittingsModal({
                  aluminium_profiles: company.aluminium_profiles,
                  aluminium_fittings: company.aluminium_fittings,
                  pcv_fittings: company.pcv_fittings,
                  pcv_profiles: company.pcv_profiles
                })
              "
            >
              Profile i okucia
            </button>
            <div class="company-actions-content__spacer"></div>
            <button
              class="button-table"
              md-raised-button
              (click)="updateCompany(company)"
            >
              <mat-icon>update</mat-icon>
            </button>
            <button
              class="button-action"
              md-raised-button
              (click)="deleteCompany(element.id)"
            >
              <mat-icon>delete icon</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
