<form [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>Panstwo</mat-label>
    <mat-select [formControl]="countryControl">
      <mat-optgroup *ngFor="let group of countryList.keys()" [label]="group">
        <mat-option
          *ngFor="let country of countryList.get(group)"
          [value]="country"
        >
          {{ country.name }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Miasto</mat-label>
    <mat-select [disabled]="disabledCity" [formControl]="cityControl">
      <mat-option *ngFor="let city of cityList" [value]="city">
        {{ city.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedVoivodeship?.name">
    <p>Wojewodztow</p>
    <p>{{ selectedVoivodeship?.name }}</p>
  </div>

  <mat-form-field class="dialog-forms__input">
    <mat-label>Adres siedziby</mat-label>
    <input matInput placeholder="np. ul. Nowaka 5" formControlName="address" />
  </mat-form-field>
  <mat-form-field class="dialog-forms__input">
    <mat-label>Kod pocztowy</mat-label>
    <input matInput placeholder="np. 22-222" formControlName="post_code" />
  </mat-form-field>
</form>
