$defaul-font: "Roboto, " Helvetica Neue ", sans-serif";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 4px black;
}
.header {
  display: flex;
  flex-basis: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  &__spacer {
    flex-grow: 1;
  }
  &__button-account-circle {
    margin-right: 30px;
  }
  &__icon-account-circle {
    font-size: 35px;
  }
  &__button-logout {
    margin-right: 10px;
  }
  &__icon-logout {
    font-size: 35px;
  }

  &__login-name {
    font-family: $defaul-font;
    margin-top: 10px;
  }

  &__logo {
    margin: 10px 10px;
  }
}

.menu {
  height: 60px;
  padding: 10px;
  flex-basis: 100%;
  background-color: black;
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  &__icon-settings {
    margin-right: 10px;
    color: white;
    font-size: 35px;
  }

  &__spacer {
    flex: 1 1 auto;
  }
  &__button-client {
    color: white;
  }
}

.main-content {
  flex-basis: 100%;
  background-color: darkcyan;
  height: 100vh;
}

.footer {
  flex-basis: 100%;
  height: 50px;
}
